body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: rgb(255, 171, 171);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: rgb(130, 248, 219);
  padding: 16px 8px;
}

.button-container {
  background: rgb(231, 135, 250);
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid rgb(238, 238, 238);
  padding: 8px 24px;
  margin: auto;
  display: block;
}